<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BusDiscussionMapper">
    
    <resultMap type="BusDiscussion" id="BusDiscussionResult">
        <result property="postId"    column="post_id"    />
        <result property="compId"    column="comp_id"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="viewCount"    column="view_count"    />
        <result property="isTop"    column="is_top"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusDiscussionVo">
        select post_id, comp_id, user_id, title, content, view_count, is_top, status, del_flag, create_by, create_time, update_by, update_time, remark from bus_discussion
    </sql>

    <select id="selectBusDiscussionList" parameterType="BusDiscussion" resultMap="BusDiscussionResult">
        <include refid="selectBusDiscussionVo"/>
        <where>  
            <if test="compId != null "> and comp_id = #{compId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="viewCount != null "> and view_count = #{viewCount}</if>
            <if test="isTop != null  and isTop != ''"> and is_top = #{isTop}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBusDiscussionByPostId" parameterType="Long" resultMap="BusDiscussionResult">
        <include refid="selectBusDiscussionVo"/>
        where post_id = #{postId}
    </select>

    <insert id="insertBusDiscussion" parameterType="BusDiscussion" useGeneratedKeys="true" keyProperty="postId">
        insert into bus_discussion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="compId != null">comp_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="viewCount != null">view_count,</if>
            <if test="isTop != null">is_top,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="compId != null">#{compId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="isTop != null">#{isTop},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusDiscussion" parameterType="BusDiscussion">
        update bus_discussion
        <trim prefix="SET" suffixOverrides=",">
            <if test="compId != null">comp_id = #{compId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="isTop != null">is_top = #{isTop},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where post_id = #{postId}
    </update>

    <delete id="deleteBusDiscussionByPostId" parameterType="Long">
        delete from bus_discussion where post_id = #{postId}
    </delete>

    <delete id="deleteBusDiscussionByPostIds" parameterType="String">
        delete from bus_discussion where post_id in 
        <foreach item="postId" collection="array" open="(" separator="," close=")">
            #{postId}
        </foreach>
    </delete>
</mapper>